@font-face{
  font-family: graff;
  src: url(../fonts/SpriteGraffiti.otf);
}

@font-face{
  font-family: graff-s;
  src: url(../fonts/SpriteGraffitiShadow.otf);
}

h1{
  font-family: graff-s;
  font-size: 55px;
  margin: 0;
  margin-top: 40px;
}

h2{
  font-family: graff-s;
  font-size: 45px;
}

html, body {
  height: 100%;
  min-height: 100%;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: graff;
  color: white;
  font-size: 40px;
  margin: 10px;
}

h4:hover {
  cursor: pointer;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background: #BC967F;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 100%;*/
  background-image: url("../images/dirty-dice.png");
  width: 1000px;
  margin: 0 auto;
}

header {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

main {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  float: left;
}

.player-one, .player-two {
  margin-top: 30px;
  float: left;
  width: 200px;
}

#player_0_total, #player_1_total {
  font-family: graff;
  font-size: 60px;
}

section {
  width: 300px;
  float: left;
}

section > div {
  float: left;
  min-width: 150px;
  min-height: 100px;
}

li {
  list-style-type: none;
}

#dice {
  min-height: 100px;
  line-height:;
}

.dice {
  text-align: center;
}

button {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
}

button:focus {
  outline: 0;
}

button#reset {
  background: red;
}

.die.one:after { 
  box-shadow: 0 .2em 0 #FFF 
}
.die.two:after { 
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345, 
         2.3em  2.3em 0 #345, 
        -2.3em -2.3em 0 #FFF, 
         2.3em  2.4em 0 #FFF 
}
.die.three:after { 
  box-shadow: -2.3em -2.3em 0 #345, 
         2.3em  2.3em 0 #345, 
        -2.3em -2.3em 0 #FFF, 
         2.3em  2.4em 0 #FFF, 
             0   .2em 0 #FFF 
}
.die.four:after { 
  background: transparent;
        box-shadow: -2.3em -2.3em 0 #345, 
               2.3em  2.3em 0 #345, 
              -2.3em  2.3em 0 #345, 
               2.3em -2.3em 0 #345, 
              -2.3em -2.3em 0 #FFF, 
               2.3em  2.4em 0 #FFF, 
              -2.3em  2.4em 0 #FFF, 
               2.3em -2.3em 0 #FFF 
}
.die.five:after { 
  box-shadow: -2.3em -2.3em 0 #345, 
         2.3em  2.3em 0 #345, 
        -2.3em  2.3em 0 #345, 
         2.3em -2.3em 0 #345, 
        -2.3em -2.2em 0 #FFF, 
         2.3em -2.2em 0 #FFF, 
         2.3em  2.4em 0 #FFF, 
        -2.3em  2.4em 0 #FFF,
             0   .2em 0 #FFF 
}
.die.six:after {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #345,
        -2.3em      0 0 #345,
        -2.3em  2.3em 0 #345,
         2.3em -2.3em 0 #345,
         2.3em      0 0 #345,
         2.3em  2.3em 0 #345,
        -2.3em -2.1em 0 #FFF,
        -2.3em   .2em 0 #FFF,
        -2.3em  2.4em 0 #FFF,
         2.3em  2.4em 0 #FFF,
         2.3em   .2em 0 #FFF,
         2.3em -2.1em 0 #FFF
}
.die {
  background: #fff;
  border-top: 1px solid #f1f1f1;
  width: 50px; height: 50px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  font-size: 6px;
  display: inline-block;
  box-shadow: 0px 5px 0 #CCC, 0 6px 3px #444, 0 10px 5px #999;
  background-image: linear-gradient(top, #fefefe, #f1f1f1 80%)
}
.die:after {
        content: "";
  width: 20%; 
  height: 20%; 
  left: 50%; 
  top: 50%;
  margin: -10%;
  background: #345;
  border-radius: 50%;
  display: block;
  position: absolute;
}
